@import "variable";
@import "mixin";

* {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   background-color: $backgroundGray1;
}

///start access list------------------------------
.accessMenu {
   width: calc(300px - 16px);
   height: 100vh;
   background-color: $darkLight;
   left: -220px;
   top: 0;
   transition: all .3s ease;
   padding: 5px 8px 8px 8px;
   z-index: 11;
   position: fixed;
   overflow-y: scroll;
   scrollbar-width: none;

   &::-webkit-scrollbar {
      display: none;
   }

   .logoName {
      @include display(flex, center, flex-end);
      color: $white;
      margin-bottom: 10px;

      h3 {
         display: none;
      }

      .steady-icon {
         display: none;
         cursor: pointer;
         padding: 3px;
         border-radius: 50%;
      }
   }

   @for $i from 1 through 4 {
      .subList-#{$i} {
         visibility: hidden;
      }
   }

   &:hover {
      left: 0;

      .logoName {
         @include display(flex, center, space-around);

         h3 {
            display: block;
         }

         .steady-icon {
            display: block;
         }
      }

      .accessList-topic {
         display: flex;
      }

      .mainList {
         visibility: visible;
      }

      @for $i from 1 through 4 {
         .subList-#{$i} {
            visibility: visible;
         }
      }
   }

}

.accessList-topic {
   @include display(none, center, space-around);
   background-color: $hoverList;
   padding: 5px;
   border-radius: 10px;

   h3 {
      color: $white;
      font-size: larger;
   }

   a {
      text-decoration: none;
      position: relative;
      display: inline-block;

      &:hover {
         .tooltip {
            visibility: visible;
         }
      }
   }

   .tooltip {
      text-align: center;
      visibility: hidden;
      position: absolute;
      z-index: 2;
      width: fit-content;
      color: white;
      font-size: 15px;
      background-color: #192733;
      border-radius: 10px;
      padding: 10px 15px 10px 15px;
      top: 40px;
      left: -100%;

      &::before {
         content: "";
         position: absolute;
         transform: rotate(45deg);
         background-color: #192733;
         padding: 10px;
         z-index: -1;
         top: -5%;
         left: 40%;
      }
   }
}


.mainList {
   list-style: none;
   color: $fontGary;
   visibility: hidden;

   @for $item from 1 through 3 {

      .listTitr-#{$item} {
         cursor: pointer;
         display: flex;
         margin-top: 5px;
         align-items: center;
         padding: 8px;
         border-radius: 8px;

         &:hover {
            background-color: $hoverList;
            color: $white;
         }
      }

      @for $j from 1 through 4 {
         .list-insideTitr-#{$item}-#{$j} {
            display: flex;
            align-items: center;

            &:hover {
               color: $white;
            }
         }
      }
   }
}

.mainList.active {
   display: none;
}

@for $item from 1 through 3 {
   #arrow-left-#{$item} {
      width: 25px;
      margin-left: 5px;
      transition: all .3s ease;
   }

   #arrow-left-#{$item}.active {
      transform: rotate(90deg);
   }

   .list-#{$item} {
      list-style: none;
      padding: 10px 15px 1px 25px;
      border-radius: 12px;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: all .3s ease;


      >li {
         margin-bottom: 10px;
         cursor: pointer;
         display: flex;
         align-items: center;
         justify-content: space-between;

         &:hover {
            color: $white;
         }
      }
   }

   .list-#{$item}.active {
      opacity: 1;
      height: auto;
   }

   @for $i from 1 through 5 {
      .list-#{$item}-star-#{$i} {
         width: 20px;
      }
   }
}

@for $i from 1 through 4 {
   .subList-#{$i} {
      display: none;
      list-style: none;
      color: $fontGary;
      padding-right: 20px;
      margin-top: 5px;

      .back {
         @include display(flex, center, flex-start);
         margin-left: 5px;
         margin-bottom: 5px;
         cursor: pointer;
         padding: 5px;
         @include box(100%, $hoverList, 0, $shadowColor, 10px);

         &:hover {
            color: $white;
         }

         img {
            width: 25px;
            margin-right: 8px;
         }
      }

      span {
         font-size: 20px;
         color: $white;
         display: inline-block;
         margin-bottom: 10px;
         margin-left: 8px;
      }

      >li {
         margin-left: 15px;
         margin-bottom: 8px;
         cursor: pointer;
         @include display(flex, center, space-between);

         &:hover {
            color: $white;
         }
      }

      @for $item from 1 through 2 {

         .listTitr-#{$item} {
            cursor: pointer;
            @include display(flex, center, flex-start);

            &:hover {
               color: $white;
            }
         }

         @for $j from 1 through 4 {
            .list-insideTitr-#{$item}-#{$j} {
               display: flex;
               align-items: center;

               &:hover {
                  color: $white;
               }
            }
         }
      }
   }

   .subList-#{$i}.active {
      display: block;
   }
}


/// end eccess list-----------------------------------
//when access list is steady:
#body.steady {
   width: calc(100% - 230px);
   margin-left: 230px;
}

.dashboard-card.steady {
   width: calc(100% - 30px);
}

.accessList-topic.steady {
   display: flex;
}

.box.steady {
   width: calc(100% - 90px);
   margin-left: 80px;
}

.main.steady {
   width: calc(100vw - 270px);
}

.functions.steady {
   width: calc(100vw - 270px);

}

.dashboard.steady {
   width: calc(100% - 100px);
   margin-left: 70px;
}

.accessMenu.steady {
   left: 0;

   .logoName {
      @include display(flex, center, space-around);

      h3 {
         display: block;
      }

      .steady-icon {
         display: block;
      }
   }

   .mainList {
      visibility: visible;
   }

   @for $i from 1 through 4 {
      .subList-#{$i} {
         visibility: visible;
      }
   }


}

.steady-icon.steady {
   transform: rotate(180deg);
   background-color: $hoverList;
}

.functions-item.steady {
   width: calc(100vw - 270px);
}

//start header-------------------------------------------

header {
   @include box(calc(100% - 40px), $white, 4px, $shadowColor, 0);
   margin: 0 auto;
   padding: 5px 20px;
   @include display(flex, center, space-between);
   position: relative;
}

.logo {
   background-image: url(../../image/irisa.png);
   background-size: cover;
   width: 70px;
   height: 70px;
}

.search-box {
   @include box(300px, $backgroundGray2, 0, $shadowColor, 8px);
   @include display(flex, center, flex-start);
   margin-left: 70px;

   img {
      width: 30px;
      margin: 5px;
   }

   input {
      border: none;
      outline: none;
      background-color: $backgroundGray2;
      font-size: 15px;
      padding: 10px;
      width: 250px;
   }
}

.navbarMain {
   @include display(flex, center, none);
   position: relative;

   .navbar {
      @include display(flex, center, none);
   }
}

.profile {
   @include display(flex, center, none);
   border-left: .5px solid $line;
   padding: 8px;
   margin-left: 10px;
   cursor: pointer;
   width: 190px;

   h4 {
      margin-bottom: 5px;
   }
}

.profile-photo {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 8px;
}

.userMenu {
   position: absolute;
   top: 80px;
   right: 0px;
   background: #fff;
   width: 180px;
   border-radius: 15px;
   display: none;
   transition: all 0.3s ease-in-out;
   z-index: 10;
   box-shadow: 4px 4px 5px $shadowColor,
      -4px -4px 5px $shadowColor;
   padding: 15px 0px;

   ul {
      width: 100%;
      list-style: none;
      padding: 0 15px;
      box-sizing: border-box;
   }

   li {
      display: flex;
      align-items: center;
      padding: 10px 8px;
      border-radius: 12px;
      cursor: pointer;

      &:hover {
         background-color: $backgroundGray2;
      }
   }

   img {
      width: 25px;
      margin-right: 15px;
   }

   a {
      text-decoration: none;
      color: #000;
   }
}

.userMenu.active {
   display: block;
}

.userMenu::before {
   z-index: -1;
   content: '';
   position: absolute;
   top: -12px;
   right: 30px;
   width: 25px;
   height: 25px;
   background: #fff;
   transform: rotate(45deg);
   box-shadow: -4px -4px 5px $shadowColor;
}

.navbar-left {
   img {
      width: 30px;
   }

   #circled3 {
      position: absolute;
      width: 25px;
      top: -6px;
      right: -4px;
   }

   .notife-icon {
      position: relative;
      margin-left: 10px;
      @include display(flex, center, center);
      padding: 5px;
      border-radius: 50%;
   }

   .home-icon {
      @include display(flex, center, center);
      padding: 5px;
      border-radius: 50%;
      margin-left: 10px;
   }

   .star-icon {
      @include display(flex, center, center);
      padding: 5px;
      border-radius: 50%;
   }
}

.notifeMenu {
   position: absolute;
   top: 80px;
   right: 195px;
   background: #fff;
   width: 300px;
   border-radius: 15px;
   display: none;
   transition: all 0.3s ease-in-out;
   z-index: 10;
   box-shadow: 4px 4px 5px $shadowColor,
      -4px -4px 5px $shadowColor;
   padding: 5px 0px;

   .notifeHeader {
      text-align: center;
      border-bottom: .5px solid $hoverList;
      padding: 8px 0 13px 0;
   }

   .notifeFooter {
      padding: 8px 0 3px 0;
      border-top: .5px solid $hoverList;
      text-align: center;

      >button {
         width: 280px;
         padding: 8px;
         border-radius: 12px;
         background-color: $linearBlueBottom;
         border: none;
         color: $white;
         font-size: 18px;
         cursor: pointer;
      }
   }
}

.notifeBody {
   height: 250px;

   >ul {
      list-style: none;
      height: 250px;
      overflow-y: scroll;
      scrollbar-width: none;

      &::-webkit-scrollbar {
         display: none;
      }
   }

   li>a {
      border-bottom: .3px solid $backgroundGray2;
      padding: 8px;
      @include display(flex, center, flex-start);
      text-decoration: none;
      color: $fontGary;

      div>div {
         width: 220px;
         @include display(flex, center, space-between);
         margin-bottom: 8px;

         h5 {
            color: $black;
         }
      }
   }

   li {
      &:hover {
         background-color: $backgroundGray2;
      }
   }

   .notifeTime {
      margin-right: 5px;
   }
}

.notifeMenu.active {
   display: block;
}

.notifeMenu::before {
   z-index: -1;
   content: '';
   position: absolute;
   top: -12px;
   right: 30px;
   width: 25px;
   height: 25px;
   background: #fff;
   transform: rotate(45deg);
   box-shadow: -4px -4px 5px $shadowColor;
}

.favoriteMenu {
   position: absolute;
   top: 80px;
   right: 295px;
   background: #fff;
   width: 300px;
   border-radius: 15px;
   display: none;
   transition: all 0.3s ease-in-out;
   z-index: 10;
   box-shadow: 4px 4px 5px $shadowColor,
      -4px -4px 5px $shadowColor;
   padding: 5px 0px;

   .favoriteHeader {
      text-align: center;
      border-bottom: .5px solid $hoverList;
      padding: 8px 0 13px 0;
   }

   .favoriteFooter {
      padding: 8px 0 3px 0;
      border-top: .5px solid $hoverList;
      text-align: center;

      >button {
         width: 280px;
         padding: 8px;
         border-radius: 12px;
         background-color: $linearBlueBottom;
         border: none;
         color: $white;
         font-size: 18px;
         cursor: pointer;
      }
   }
}

.favoriteMenu.active {
   display: block;
}

.favoriteMenu::before {
   z-index: -1;
   content: '';
   position: absolute;
   top: -12px;
   right: 30px;
   width: 25px;
   height: 25px;
   background: #fff;
   transform: rotate(45deg);
   box-shadow: -4px -4px 5px $shadowColor;
}

.favoriteBody {
   height: 250px;

   >ul {
      list-style: none;
      height: 250px;
      overflow-y: scroll;
      scrollbar-width: none;

      &::-webkit-scrollbar {
         display: none;
      }
   }

   li {
      >a {
         border-bottom: .3px solid $backgroundGray2;
         padding: 8px;
         @include display(flex, center, flex-start);
         text-decoration: none;
         color: $fontGary;
      }

      img {
         width: 50px;
      }
   }

   li {
      &:hover {
         background-color: $backgroundGray2;

         a {
            color: $black;
         }
      }
   }
}

//end header-------------------------------------------------------

//start body-------------------------------------------------------
///start .main--------------------------------------
.main {
   width: calc(100vw - 40px);
   margin: 20px auto;
   padding: 20px 10px;
   @include display(flex, center, center);
   flex-direction: column;
}

.dashboard {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   margin-bottom: 20px;
}

.dashboard1 {
   background: linear-gradient(to left, $linearBlueTop, $linearBlueBottom);
   color: $white;
}

.dashboard2 {
   background: linear-gradient(to left, $linearOrangeTop, $linearOrangeBottom);
}

.dashboard3 {
   background: linear-gradient(to left, $linearRedTop, $linearRedBottom);
   color: $white;
}

.dashboard4 {
   background: linear-gradient(to left, $linearGreenTop, $linearGreenBottom);
   color: $white;
}

.dashboard-card {
   @include box(240px, $linearBlueBottom, 4px, $shadowColor, 12px);
   height: 130px;
   @include display(flex, flex-start, center);
   flex-direction: column;
   padding: 0 15px;

   span {
      margin-bottom: 8px;
   }

   h3 {
      margin-bottom: 8px;
   }
}

.box {
   @include box(1100px, $white, 0px, $shadowColor, 12px);
   height: fit-content;
   margin-top: 20px;
   position: relative;
   box-shadow: -4px -4px 8px $shadowColor,
      4px 4px 8px $shadowColor;
}

.message-box,
.recently-box {
   @include display(flex, center, space-between);
   border-bottom: 0.3px solid $hoverList;
   padding: 5px 15px;

   img {
      cursor: pointer;
   }
}

.recently-list {
   padding: 15px;

   ul {
      list-style: none;
      @include display(grid, center, space-around);
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;

      li {
         background-color: $backgroundGray2;
         padding: 8px;
         border-radius: 5px;

      }
   }

   a {
      text-decoration: none;
      color: $linearBlueBottom;
      margin-left: 15px;
   }
}

.box-options-1,
.box-options-2 {
   display: none;
   position: absolute;
   @include box(170px, $white, 4px, $shadowColor, 12px);
   border: 0.8px solid $backgroundGray2;
   height: fit-content;
   right: 30px;
   top: 30px;
   padding: 6px;

   ul {
      list-style: none;
   }

   li {
      margin-bottom: 5px;
      padding: 6px;
      border-radius: 8px;

      &:hover {
         background-color: $backgroundGray2;
      }
   }
}

.box-options-1.active {
   display: block;
}

.box-options-2.active {
   display: block;
}

table {
   width: calc(100% - 20px);
   margin: 20px auto;
   border-collapse: collapse;
   overflow: hidden;
   border-radius: 10px;
   font-size: 15px;

   .theader,
   .table-header {
      background-color: $darkLight;
      color: $white;
   }

   tr {
      padding: 5px;
   }

   tr:nth-child(even) {
      background-color: $backgroundGray2;
   }

   th,
   td {
      text-align: left;
      padding: 8px;
   }
}

//end main--------------------------------------------------------

//start functions(table of list)------------------------------------------------
.functions {
   width: calc(100vw - 40px);
   margin: 10px auto;
   padding: 10px;
   @include display(none, center, center);
   flex-direction: column;
}

.functions-box {
   @include display(flex, flex-start, space-between);
   flex-direction: column;
   padding: 5px 15px;

   #direct-show-icon {
      width: 20px;
   }
}

.functions-options {
   @include display(flex, center, space-between);
   padding: 8px;
   background-color: $darkLight;
}

.direct-show {
   @include display(flex, center, flex-start);
   margin-bottom: 10px;
}

.direct-show-icon {
   width: 20px;
}

.create-project {
   @include display(flex, center, center);

   select {
      padding: 10px 12px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border: none;
      background-color: $white;
      font-size: 18px;
   }

   button {
      padding: 6px;
      border: none;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      @include display(flex, center, center);
      border-left: 0.5px solid $hoverList;
      background-color: $blueButton;
      width: 50px;
      cursor: pointer;

      &:hover {
         background-color: $blueButtonHover;
      }
   }
}

.show-project {
   @include display(flex, center, center);

   select {
      padding: 10px 12px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border: none;
      background-color: $white;
      font-size: 18px;
   }

   button {
      padding: 10px;
      border: none;
      @include display(flex, center, center);
      border-left: 0.5px solid $hoverList;
      background-color: $blueButton;
      font-size: 18px;
      cursor: pointer;
      color: $white;

      &:hover {
         background-color: $blueButtonHover;
      }

      &:last-child {
         border-top-right-radius: 8px;
         border-bottom-right-radius: 8px;
      }
   }
}

.tableHead {
   @include display(flex, center, space-between);
   width: 100%;
   margin: 0px auto;
}

.findPage {
   @include display(flex, center, space-around);
   width: 450px;
}

.pagebtn {
   @include box(fit-content, $blueButton, 1px, $shadowColor, 8px);
   border: none;
   padding: 5px 10px;
   font-size: 18px;
   display: flex;
   align-items: center;
   cursor: pointer;

   &:hover {
      background-color: $blueButtonHover;
   }

   img {
      margin: 0 5px;
   }
}

#tables {
   @include box(50%, $backgroundGray2, 1px, $shadowColor, 8px);
   margin: 0 10px;
   padding: 5px;
   border: none;
   font-size: 18px;
   cursor: pointer;
}

.select-btn {
   @include box(fit-content, $darkLight, 1px, $shadowColor, 8px);
   border: none;
   padding: 2px;
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   cursor: pointer;

   img {
      width: 35px;
   }
}

//start functions item (Gantt)----------------------------------------------
.functions-item {
   width: calc(100vw - 40px);
   height: fit-content;
   margin: 10px auto;
   padding: 10px;
   @include display(none, center, center);
   flex-direction: column;
   overflow-y: scroll;
}

.functions-project {
   display: block;
}

.functions-resources,
.functions-workpkan,
.functions-reporting,
.functions-financial,
.functions-procurement,
.functions-cotrol {
   display: none;
}

.functions-item-mainMenu {
   width: calc(100% - 30px);
   padding: 15px;
   background-color: $darkLight;
   border-radius: 12px 12px 0 0;
   margin-bottom: 10px;

   ul {
      @include display(flex, center, center);
      list-style: none;

      li {
         margin-left: 15px;
         font-size: 18px;
      }
   }
}

@for $j from 1 through 7 {
   .functions-item-mainMenu-titre#{$j} {
      color: $fontGary;
      text-decoration: none;

      &:hover {
         color: $white;
      }
   }
}

.functions-item-subMenu {
   @include display(flex, center, flex-start);
   list-style: none;
   padding: 5px;
   border-bottom: 0.5px solid $hoverList;

   li {
      margin-left: 15px;
      padding: 8px;
      border-radius: 8px;

      &:first-child {
         background-color: $fontGary;
      }

      &:hover {
         background-color: $fontGary;
      }
   }

   a {
      text-decoration: none;
      color: $black;
   }
}

.functions-item-part-1 {
   @include display(flex, center, space-around);
   padding: 8px;
   margin-bottom: 10px;

   .functions-item-parts-option {
      @include display(flex, center, space-between);
   }

   select {
      padding: 10px 12px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border: none;
      font-size: 17px;
      margin-left: 8px;
   }

   button {
      padding: 10px;
      border: none;
      @include display(flex, center, center);
      background-color: $blueButton;
      font-size: 17px;
      cursor: pointer;
      border-left: .5px solid $hoverList;

      &:hover {
         background-color: $blueButtonHover;
      }

      &:last-child {
         border-top-right-radius: 8px;
         border-bottom-right-radius: 8px;
      }
   }
}

.functions-item-part-2 {
   @include display(flex, center, space-between);
   padding: 0px 10px;
   margin: 10px auto;

   .functions-item-parts-option {
      @include display(flex, center, space-between);
   }

   select {
      padding: 10px 12px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border: none;
      font-size: 17px;
      margin-left: 8px;
   }

   button {
      padding: 10px;
      border: none;
      @include display(flex, center, center);
      border-left: 0.5px solid $hoverList;
      background-color: $blueButton;
      font-size: 17px;
      cursor: pointer;

      &:hover {
         background-color: $blueButtonHover;
      }

      &:first-child {
         border: none;
         border-radius: 8px;
      }

      &:last-child {
         border-top-right-radius: 8px;
         border-bottom-right-radius: 8px;
      }
   }
}

//workplan page---------------------------------------------
#gantt_here {
   width: calc(100% - 20px);
   margin: 5px auto;
   height: 600px;
}

.kanban {
   display: block;
   width: calc(100% - 20px);
   margin: 5px auto;
   height: fit-content;
   border-top: .8px solid $hoverList;
   margin-top: 20px;
   padding-top: 20px;
}

//project page --------------------------------------
.functions-project {
   thead {
      background-color: $darkLight;
      color: $white;
   }
}

.project-specifications {
   @include display(grid, flex-start, center);
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
   list-style: none;
   width: auto;
   margin: 10px auto;
   padding: 0 10px;

   li {
      @include display(flex, center, flex-start);

      span {
         margin-left: 15px;
      }
   }
}

.table-titre {
   border-top: .5px solid $line;
   @include display(flex, center, space-between);
   padding: 10px;
}

.btn {
   padding: 10px;
   border: none;
   @include display(flex, center, center);
   background-color: $blueButton;
   font-size: 17px;
   cursor: pointer;
   border-radius: 8px;
   margin-left: 10px;

   &:hover {
      background-color: $blueButtonHover;
   }
}

//Resources Page--------------------------------------------
.functions-resources {
   thead {
      background-color: $darkLight;
      color: $white;
   }
}
